<h1 mat-dialog-title>Add new tank report</h1>

<div mat-dialog-content class="base-container">
    <div class="example-container">

        <mat-form-field>
            <input matInput placeholder="Tank type" [(ngModel)]="report.tankType" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Created at</mat-label>
            <input matInput disabled [(ngModel)]="report.created" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Spotted at" [(ngModel)]="report.spotTime" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Sensor" [(ngModel)]="report.sensor" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select matNativeControl required [(ngModel)]="report.status">
            <mat-option value="Open">Open</mat-option>
            <mat-option value="Verified">Verified</mat-option>
            <mat-option value="Gone">Gone</mat-option>
          </mat-select>
        </mat-form-field>

      <mat-form-field>
            <input matInput placeholder="Latitude" [(ngModel)]="report.spotLocation.latitude" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Longitude" [(ngModel)]="report.spotLocation.longitude" required>
        </mat-form-field>

        <button mat-button (click)="useCurrentLocation()">current location</button>
        <button mat-button (click)="showMap()">from map</button>

    </div>

    <div class="example-container" *ngIf="isMapVisible">
      <google-map (mapClick)="onMapClicked($event)"> </google-map>
    </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="dismiss()">Cancel</button>
  <button mat-button color="primary" cdkFocusInitial (click)="save()">Save</button>
</div>